//@import "../Input/input.module.scss";

.password {
  position: relative;
  width: 100%;

  .view {
    position: absolute;
    right: 8px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 14px;
    }
  }
}
